@model Kitap

<form asp-action="Ekle" asp-controller="Kitap" method="post">
    <div class="mb-3">
        <label asp-for="Ad" class="form-label"></label>
       <input class="form-control" type="text" asp-for="Ad" />
    </div>
    <div class="mb-3">
        <label asp-for="Yazar" class="form-label"></label>
        <input class="form-control" type="text" asp-for="Yazar" />
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label"></label>
        <input class="form-control" type="text" asp-for="ImageUrl" />
    </div>
    <div class="mb-3 btn-group">
        <button class="btn btn-primary" type="submit">Kaydet</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">İptal</a>
    </div>
</form>