@model List<Ogrenci>


@if (Model.Count == 0)
{
    <p class="alert alert-danger">Herhangi bir veri bulunamadı.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>Yaş </th>
                <th>Seçilen Kurs</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.TamAd</td>
                    <td>@i.Yas</td>
                    <td>@i.SecilenKurs</td>
                </tr>
            }


        </tbody>
    </table>
}

<a class="btn btn-primary" asp-controller="Ogrenci" asp-action="Basvuru">Yeni Kayıt</a>