@model Product
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script type="text/javascript" src="#ibrahim"></script>
}
@section Resimler{
    <img src="https://www.bingol.edu.tr/documents/file/bu_Slider/2023-2024-%C5%9Eura%20A%C3%A7%C4%B1l%C4%B1%C5%9F-9fe7dbca-a81a-4a7c-a3c6-b0c97054468e.jpg" />
}